# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [5]:
# Assignment 1
st = set(range(1,11))
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
# Assignment 2
st.add(11)
st.remove(1)
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [14]:
# Assignment 3
st1 = set(range(1,6))
st2 = set(range(2,11,2))
set_union = st1.union(st2)
set_intersection = st1.intersection(st2)
set_difference = st1.difference(st2)
set_sym_diff = st1.symmetric_difference(st2)

print("set 1 is: ", st1)
print("set 2 is: ", st2)
print("union of the two set: ", set_union)
print("intersection of the two set: ", set_intersection)
print("difference of the two set: ", set_difference)
print("symmetric difference of two set is: ", set_sym_diff)

"""" 
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")
"""

set 1 is:  {1, 2, 3, 4, 5}
set 2 is:  {2, 4, 6, 8, 10}
union of the two set:  {1, 2, 3, 4, 5, 6, 8, 10}
intersection of the two set:  {2, 4}
difference of the two set:  {1, 3, 5}
symmetric difference of two set is:  {1, 3, 5, 6, 8, 10}

'" \nprint(f"Union: {set1 | set2}")\nprint(f"Intersection: {set1 & set2}")\nprint(f"Difference (set1 - set2): {set1 - set2}")\nprint(f"Symmetric Difference: {set1 ^ set2}")\n'

In [15]:
# Assignment 4
square = [x**2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Assignment 5
even_num = [x for x in st if x%2 == 0]
print(even_num)

[2, 4, 6, 8, 10]

In [17]:
# Assignment 6
st_duplicate = {1,3,2,4,2,5,4,3,5,1}
print(st_duplicate)

{1, 2, 3, 4, 5}

In [19]:
# Assignment 7
st1 = {1,2,3,4,5}
st2 = {1,2,3}

print(f"second set is the subset of the first set: {st2.issubset(st1)}")
print(f"first set is the subset of the second set: {st1.issuperset(st1)}")

second set is the subset of the first set: True
first set is the subset of the second set: True

In [1]:
# Assignment 8
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [4]:
# Assignment 9
st = set(range(1,6))
st_to_lst = list(st)
st_to_lst.append(6)
lst_to_st = set(st_to_lst)
print(lst_to_st)

{1, 2, 3, 4, 5, 6}

In [5]:
# Assignment 10
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [7]:
# Assignment 11
st = {1,2,3,4,5,6,7,8,9}
for i in st:
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
# Assignment 12
st = set(range(1,11))
while st:
    
    st.pop()
    print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [13]:
# Assignment 13
st1 = {1,2,3}
st2 = {3,4,5}

st1.symmetric_difference_update(st2)
print(st1)

{1, 2, 4, 5}

In [14]:
# Assignment 14
st = {1,4,2,6,7,4,4,7}

print(f"2 is present in the set: {2 in st}")

2 is present in the set: True

In [15]:
# Assignment 15
st = {(1,2),(3,4),(5,6)}
print(st)

{(1, 2), (3, 4), (5, 6)}

<class 'dict'>